target
.idea
*.iml
*.esd
isma-intg-server.log
lastModel.txt
out.txt
isma.properties
export.csv
result.csv
.idea/
.gradle/

target/
out/
build/
*private.resources
*private.properties
local.properties
*.log
.kotlin/
