<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<ismaSettings>
    <lastSession>
        <lastSessionProject>C:\Users\SmallBoss\Documents\Projects\ISMA\model\unnamedModel.im</lastSessionProject>
    </lastSession>
    <mainWindowHeight>1030</mainWindowHeight>
    <mainWindowMaximazed>true</mainWindowMaximazed>
    <mainWindowWidth>1920</mainWindowWidth>
    <recent/>
    <workingDir>C:\Users\SmallBoss\Documents\Projects\ISMA\.isma\</workingDir>
</ismaSettings>
